.container {
  z-index: 5;
  background: linear-gradient(270deg, #01ca9e 0%, #fff 46.87%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  position: relative;
}

.decorate-circle {
  position: absolute;
  border-radius: 50%;
  width: 100vw;
  height: 100vw;
  left: -25vw;
  top: 50%;
  transform: translate(0, -50%);
  /* top: calc(50vw - 100vh); */
  /* transform: translateY(-25%); */
  border: 12px solid #edeced;
  background: linear-gradient(90deg, #005478 9.52%, #036f9d 97%);
  /* z-index: 1; */
  z-index: -1;
}

.content-container {
  background: linear-gradient(270deg, #01ca9e 0%, #fff 46.87%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 2fr;
}

.content-left-panel {
  grid-area: 1 / 1 / 2 / 2;
  max-width: calc(100vw * 5 / 7);
  max-height: 100vh;

  position: relative;
}

.content-decorate-circle {
  border: 12px solid #edeced;
  background: linear-gradient(90deg, #005478 9.52%, #036f9d 97%);
  width: 100vw;
  height: 100vw;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
